@font-face {
    font-family: salsa;
    src: url(./_font/Salsa-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(180deg, #FFFFFF 8.59%, rgba(255, 255, 255, 0) 91.56%), #284C93;
}
.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}
.corpo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 270px;
    height: 319px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 67.15%), #C0CADF;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
.titulo {
    font-family: salsa;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
}
.email {
    min-width: 158px;
    min-height: 37px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Rockwell Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
.senha {
    min-width: 158px;
    min-height: 37px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Rockwell Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
.submit {
    min-width: 113px;
    min-height: 36px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Rockwell Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}